.intro p{
  line-height: 2em;
}
.headline {
  padding-top: 20px;
}
.list {
  font-family: Georgia, Times, 'Times New Roman', serif;
  padding-left: 1.75em;
}

.listItem {
  margin: 1em 0;
  font-style: italic;
}

.listItemTitle {
  font-weight: bold;
}

.hat {
  min-width: 250px;
  min-height: 250px;
  float: left;
}

.text-center {
  text-align: center;
}

.space-around {
  padding: 2em;
}

.space-around > * {
  font-weight: 100
}
.inline > *{
  display: inline-block;
}

.intro:nth-of-type(1) {
  display: flex;
  flex-direction: row;
}

@media (max-width: 680px) {
  .intro, .intro:first-of-type {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
